@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

main {
  max-width: 800px;
  margin: 0 auto;
}

#add-new-item {
  width: 100%;
}

input {
  border-radius: 1rem;
  padding: 1rem;
  width: 100%;
}

#filter li {
  float: left;
  margin: 1rem 0.5rem;
  background-color: #3aa6b9;
  color: #fff;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

#filter li:first-of-type {
  margin-left: 0 !important;
}

.item {
  display: flex;
  background: #c1ece4;
  border-radius: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  align-items: center;
}

.item button {
  float: right;
  background-color: #3aa6b9;
  border-radius: 0.5rem;
  padding: 0.25rem 1rem;
  order: 2;
  margin-left: auto;
  color: #fff;
}
